$primary-color: #7f0cbf;
$secondary-color: #d9027c;
$tertiary-color: #4118c3;
$greyscale-color: #666666;

$page-bg-color: #eeeeee;
$content-bg-color: #ffffff;
$heading-color: #444444;
$body-color: #222222;

$code-bg-color: $greyscale-color;
$code-color: #ffffff;




$transparent: rgba(0,0,0,0);
